////ion-nav-bar(ng-controller='addjob',ng-init='init()')
//ion-nav-bar(ng-controller='addjob')
//    ion-nav-buttons(side='left')
//        button.button.button-clear.pull-left(ng-click='cancel()') cancel
//    ion-nav-buttons(side='right')
//        button.button.button-clear.pull-right save

ion-view(title='define new job',ng-controller="addjob",ng-init='init()')
    ion-content(padding='true',has-bouncing='false',scroll="true")
        form.list(name="addjob")
            legend details
            div.row
                .col
                    label.item.item-input
                        i.positive.icon.ion-ios7-calendar.placeholder-icon
                        //span.input-label date
                        input(name="newJob.date",type='date',ng-model='newJob.date',value='{{newJob.date}}',placeholder="dd/MM/yy", required)

                .col
                    label.item.item-input
                        i.positive.icon.ion-ios7-clock.placeholder-icon
                        input(name='newJob.time',type='time',ng-model='newJob.time',value='{{newJob.time}}',ng-disabled='newJob.allDay')


            div.row
                .col
                    ion-toggle(name='newJob.allDay',ng-model='newJob.allDay', toggle-class='toggle-calm') All day?

                .col
                    label.item.item-input.item-select
                        //span.input-label type
                        i.positive.icon.ion-ios7-information.placeholder-icon
                        select(name='newJob.type',
                            ng-options="template.name for template in userTemplates track by template.id",
                            ng-model="newJob.type", required)
                                option(value="") - type -

            div.row
                .col
                    label.item.item-input
                        i.positive.icon.ion-ios7-pricetag.placeholder-icon
                        //span.input-label date
                        input(name="newJob.details.price",
                            pattern='^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?EUR',
                            type='number',ng-model='newJob.details.price',value='{{newJob.price}}',placeholder="price", required)
                .col
                    label.item.item-input.item-select
                        //span.input-label type
                        i.positive.icon.ion-ios7-information.placeholder-icon
                        select(name='newJob.details.alarm',
                            ng-options='alarm.name for alarm in alarms track by alarm.id',
                            ng-model='newJob.details.alarm')
                                option(value='') - alarm -




            label.item.item-input
                i.positive.icon.ion-ios7-location.placeholder-icon
                input#Autocomplete.ellip(name='newJob.details.location',type='text',placeholder='where',ng-model="newJob.details.location",ng-autocomplete="googleResults",details="googleResultsDetails",options="googleResultsOptions")


            label.item.item-input
                textarea(name='newJob.notes',placeholder='notes',rows='3',ng-model='newJob.notes')


            div.row(ng-show='newJob.type.name=="wedding"')
                div.item-divider
                .col
                    ion-toggle(name='newJob.isBooked',ng-model='newJob.isBooked', toggle-class='toggle-calm') Job is booked?
                div.item-divider

            div.item-divider
            legend contact
            label.item.item-input
                i.positive.icon.ion-ios7-person.placeholder-icon
                input(name='newJob.contact.name',type='text',placeholder='name',ng-model='newJob.contact.name')
            label.item.item-input
                i.positive.icon.ion-ios7-email.placeholder-icon
                input(name='newJob.contact.email',type='email',placeholder='email',ng-model='newJob.contact.email')
            label.item.item-input
                i.icon.positive.ion-ios7-telephone.placeholder-icon
                input(name='newJob.contact.phone',type='tel',placeholder='phone number',ng-model='newJob.contact.phone')
